@import "tailwindcss";

@import url('https://fonts.googleapis.com/css?family=Inter:wght@400;600;800&display=swap');

:root {
    --theme-primary: #0061ff;   /* DocuSign blue */
    --theme-accent: #ffd500;    /* DocuSign yellow */
    --theme-outline: #111827;   /* dark outline */
    --theme-base: #000000;      /* near-white background */
    --theme-error: #ff384c;
    --theme-card: #e5e7eb;
    --theme-button: #ef4444;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--theme-base);
    color: var(--theme-outline);
}
