@import url('https://fonts.googleapis.com/css?family=Inter:wght@400;600;800&display=swap');
@import "tailwindcss";

:root {
    --theme-base: #000000;
    --theme-outline: #000000;
    --theme-primary: #007bff;
    --theme-secondary: #6c757d;
    --theme-success: #6ee7b7;
    --theme-error: #ef0000;
    --theme-error-dark: #b30000;
    --theme-warning: #ffc107;
    --theme-info: #17a2b8;
    --theme-light: #f8f9fa;
    --theme-dark: #343a40;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--theme-base);
    color: var(--theme-outline);
}
